{% extends "base" %}
{% block title %}logo-test: error{% endblock %}
{% block content %}
    <h1 class="text-center">logo-test: error</h1>
    <p class="text-center">
        {{error}}
    </p>
{% endblock %}
